{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <h1>Flashcards</h1>
    <ul class="flashcard-list">
        {% for deck in decks %}
        <li class="flashcard-box">
            <div class="flashcard-info">
                <a style="text-decoration: none" href="{% url 'deck_detail' deck.pk %}">{{ deck.category }}</a>
            </div>
            <a style="text-decoration: none" href="{% url 'flashcard_new' deck.pk %}" class="button">Create Flashcard</a>
        </li>
        {% empty %}
        <li>No Decks!</li>
        {% endfor %}
    </ul>
    <a style="text-decoration: none" href="{% url 'deck_new' %}" class="button">Create Deck</a>
</body>
</html>