{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="flashcard-box">
        <div class="flashcard-info">
            {{ deck.category }}
            <p>Number right:{{ right }}</p>
        </div>
    </div>
    <div><ul class="flashcard-list">
        {% for flashcard in deck.flashcards.all %}
        <li class="flashcard-box">
            <div class="flashcard-info">
                <a style="text-decoration: none" href="{% url 'flashcard_answer' flashcard.pk %}">{{ flashcard.question }}</a>
                <p></p>
            </div>
        </li>
    {% endfor %}

    </ul></div>
</body>
</html>