{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Document</title>
</head>
<body>
    <div class="correct-box">
        <div class="correct-info">
            {{ deck.category }}
            <p>✅:{{ right }}</p>
            <p>❌:{{ wrong }}</p>
            <p>Number unanswered:{{ not_answered }}</p>
        </div>
    </div>
    <div><ul class="flashcard-list">
        {% for flashcard in deck.flashcards.all %}
        <li class="flashcard-box">
            <div class="flashcard-info">
                <a style="text-decoration: none" href="{% url 'flashcard_answer' flashcard.pk %}">{{ flashcard.question }}</a>
                <p></p>
            </div>
        </li>
    {% endfor %}

    </ul></div>

    <a style="text-decoration: none" href="{% url 'reset_deck' deck.pk %}" class="button">Reset Score</a>
</body>
</html>