{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Flashcards</title>
</head>
<body>
    <h1>Flashcards</h1>
    <ul class="flashcard-list">
        {% for flashcard in flashcards %}
        <li class="flashcard-box">
            <div class="flashcard-info">
                <a style="text-decoration: none" href="{% url 'flashcard_answer' flashcard.pk %}">{{ flashcard.question }}</a>
        </div>
        </li>
    {% endfor %}

    </ul>
<a style="text-decoration: none" href="{% url 'flashcard_new' %}" class="button">Create Flashcard</a>
</body>
</html>