body, ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    padding: 20px;
    background-color: #f5f5f5;
    color: #333;
}

.flashcard-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

.flashcard-box {
    width: 250px;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
}

.flashcard-box a {
    color: #007bff;
    text-decoration: none;
    transition: color 0.3s;
}

.flashcard-box a:hover {
    color: #0056b3;
}

.button {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: green;
    color: #fff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #0056b3
}

.correct-box {
    background-color: #f5f5f5; /* Similar background color as h1 */
    padding: 10px; /* Smaller padding */
    text-align: center; /* Center content horizontally */
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1);
    margin-bottom: 70px;
    width: 50%;
    transform: translate(50%, 50%);
}

.correct-info {
    font-weight: bold;
    color: #333;
}

.flashcard-info {
    text-align: center;
}

